<div class="container">
    <footer class="row row-cols-5 py-5 my-5 border-top">

        <div class="col">
            <h5>Send & Receive</h5>

            <ul class="nav flex-column p-2">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">How it works</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tips & tricks</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Manage balance</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Direct Deposit</a></li>
            </ul>

        </div>

        <div class="col">
            <h5>Pay with Venmo</h5>
            <ul class="nav flex-column p-2">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ways to pay</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pay businesses</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pay in apps & online</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pay in stores</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Venmo Debit Card</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Venmo Credit Card</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Venmo for Business</h5>
            <ul class="nav flex-column p-2">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Accept Venmo payments</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Business profiles</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Business profiles tips &
                        tricks</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Accept Venmo in stores</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Accept Venmo in apps & online</a>
                </li>
            </ul>
        </div>
        <div class="col">

            <ul class="nav flex-column p-2">
                <button type="button" class="btn footer">
                    <img src="/assets/apple-play.png" width="155" height="41" alt="">
                </button>
                <button type="button" class="btn footer">
                    <img src="/assets/google-play.png" width="155" height="41" alt="">
                </button>
            </ul>
        </div>

    </footer>
</div>

<div class="container">
    <footer class="row row-cols-5">


        <div class="col">
            <h5>Crypto</h5>
            <ul class="nav flex-column p-2">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Crypto</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Resources</h5>
            <ul class="nav flex-column p-2">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Why Venmo</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Help Center</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Our fees</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Blog</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">News & Press</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Developes</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Company</h5>
            <ul class="nav flex-column p2">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About us</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Jobs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Accessibility</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Legal</h5>
            <ul class="nav flex-column p-2">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Terms</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy</a></li>
            </ul>
        </div>


        <div class="col">
            <h5>Contact</h5>
            <ul class="nav flex-column p-2">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact us</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact Support</a></li>
            </ul>
        </div>

    