<div class="container text-center">

    <h1>Grow your business, the Venmo way </h1>
    <p><small>Reach customers’ friends (and their friends, too) with a business profile. It’s word-of-mouth marketing, supercharged with Venmo. The affordable, easy way to help grow your business—from dog walkers to main street cafés and anything in between.</small></p>
   <button type="button" class="btn btn">
    <img src="/assets/white-venmo.png" width="15" height="13" alt="">
     Get a business profile</button>
  </div>

 >

  