<div class="container sizes">
  <h1 class="card-title">How transfers work</h1>

</div>
<div class="container-fluid">
  <div class = "col d-flex">
  <div *ngFor = "let card of cards"> 
    <card-databinding
    img="{{card.img}}" 
     title="{{card.title}}"
    description="{{card.description}}">
    Loading...
    </card-databinding>
  </div>
</div>
</div>


<div class="card-deck d-flex">
    <div class="card d-flex btn">
      <img class="card-img-top " src="/assets/sendreceive.webp" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Send & Receive</h5>
        <p class="card-text">Venmo is the simple, social way to pay and get paid.</p>
        <p class="card-text"><small class="text">Learn more</small></p>
      
      </div>
    </div>
    <div class="card d-flex btn2">
      <img class="card-img-top" src="/assets/directdeposit.webp" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Direct Deposit</h5>
        <p class="card-text">Get you paychecks up to two days faster.*</p>
        <p class="card-text"><small class="text">Learn more</small></p>
      </div>
    </div>
    <div class="card d-flex btn3 size">
      <img class="card-img-top" src="/assets/paywithvenmo.webp" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pay with Venmo</h5>
        <p class="card-text">Use Venmo just about anywhere you shop: in apps, in-store, and online.</p>
        <p class="card-text"><small class="text">Learn more</small></p>
      </div>
    </div>
  </div>