<nav class="navbar navbar-expand navbar-light bg-light">

  <div class="container">
    <div class="wrap" style="
    margin: 0 auto;
    ">

      <ul class="navbar-nav">
        <a class="navbar-brand" href="#">
          <img src="/assets/venmo-icon.png" width="150" height="29" alt="">
        </a>
        <li class="nav-item dropdown">
          <a class="nav-link active" href="#" id="sendAndReceive" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Send & Receive
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="blue" class="bi bi-chevron-down"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
            </svg>
          </a>
          <ul class="dropdown-menu" aria-labelledby="sendAndReceive">
            <li class="nav-item">
              <a class="dropdown-item" href="#">
                How it works
              </a>

            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">
                Tips & tricks
              </a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">
                Manage balance
              </a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">
                Direct Deposit
              </a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">
                Crypto
              </a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">
                Purchase Protection
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active" href="#" id="sendAndReceive" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Pay with Venmo
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="blue" class="bi bi-chevron-down"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
            </svg>
          </a>
          <ul class="dropdown-menu" aria-labelledby="sendAndReceive">
            <li class="nav-item">
              <a class="dropdown-item" href="#">
                Ways to pay
              </a>

            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">
                Pay businesses
              </a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">
                Pay in apps & online
              </a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">
                Pay in stores
              </a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">
                Venmo Debit Card
              </a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">
                Venmo Credit Card
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active" href="#" id="sendAndReceive" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Venmo for Business
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="blue" class="bi bi-chevron-down"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
            </svg>
          </a>
          <ul class="dropdown-menu" aria-labelledby="sendAndReceive">
            <li class="nav-item">
              <a class="dropdown-item" href="#">
                Accept Venmo payment
              </a>

            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">
                Business profiles
              </a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">
                Business profiles tips & tricks
              </a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">
                Accept Venmo in apps & online
              </a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">
                Accept Venmo in stores
              </a>
            </li>
          </ul>

        </li>

        <li class="nav-item">
          <a class="nav-link active" href="#">
            Log in
          </a>
        </li>
        <button type="button" class="btn btn">
          <img src="/assets/venmo-v.png" width="14" height="13" alt="">
          Get Venmo</button>

      </ul>

    </div>
