<div class="container text-center">

    <h1>Do business with Venmo</h1>
    <p><small>Accept Venmo payments in your app, online, or in person and tap into our active community of more than 83 million people.</small></p>
   <button type="button" class="btn btn">
   
     Get a business profile</button>
  </div>

  <img src="/assets/americanos.png" width="1345" height="500">

  <div class="card">
    <div class="row">
        <div class="col">
            <img src="/assets/coffee.png" class="img-fluid" alt="">
        </div>
        <div class="col format">
            <div class="card-block px-2">
                <h4 class="card-title ">Venmo business profiles</h4>
                <p class="card-text texts">Let customers pay you the same way they pay their friends on Venmo. It’s the friendliest way to do business.</p>
                <button type="button" class="btn btn3">
                  Learn more</button>  </div>
        </div>
    </div>
  
</div>
